/* ----- Header & NavMenu ----- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.header .navbar-brand img {
  width: 100%;
}

.header button.navbar-toggler {
  z-index: 1000 !important;
  background-color: green;
}

.header button.navbar-toggler span {
  color: white !important;
}

.header .navMenu ul li {
  padding-left: 10px;
  padding-right: 10px;
}

.header .navMenu ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: beige;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.header .navMenu ul li:hover::after {
  width: 100%;
}

.header .navMenu ul li a {
  color: beige;
  text-decoration: none;
  font-size: 15px;
}

.header .title {
  text-align: center;
}

.header .title h2 {
  color: beige;
}

/* responsive */
.header .show {
  background-color: green;
  transition: 0.1s;
}

/* ----- Carousel ----- */
.carousel {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/SeSC/green-building.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: beige;
}

.carousel h2 {
  padding-top: 170px;
}

/* sticky effect */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: green;
  height: 15vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

.sticky .navMenu ul li::after {
  background-color: beige;
}

.sticky .container {
  height: 100%;
}

.sticky .container .navbar {
  height: 100%;
}

/* ----- Number ----- */
.numbers {
  margin: 100px 0px;
  background-image: url("/SeSC/[BCM]\ Background.png");
  text-align: center;
  padding: 60px 0px;
  background-attachment: fixed;
  background-position: right;
}

.numbers .number h3 {
  font-size: 70px;
  font-weight: 900;
  color: #ccff33;
}

.numbers .number p {
  font-size: 15px;
  font-weight: 600;
  color: #daf2da;
}

/*-------Coreteam----*/
/* Heading */
.heading-text {
  text-align: center;
  margin-bottom: 50px;
}

.heading-text h2 {
  font-size: 30px;
  font-weight: 600;
  color: green;
}
.heading-text h3 {
  font-size: 50px;
  font-weight: 800;
}

/* card */
.coreteam .card {
  /* width: 330px;
  height: 416px; */
  width: 250px;
  height: 350px;
  padding: 60px 0px;
  margin: 0px auto;
  background: #f2f3f7;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 20px;
}
.coreteam .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.coreteam .card .content .imgBx {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.3s;
}
.coreteam .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coreteam .card .content .contentBx h4 {
  color: #03a54c;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.coreteam .card .content .contentBx h5 {
  color: #6c758f;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.coreteam .card .content .sci {
  margin-top: 20px;
}
.coreteam .card .content .sci a {
  text-decoration: none;
  color: #03a54c;
  font-size: 20px;
  margin: 10px;
  transition: color 0.4s;
}
.coreteam .card .content .sci a:hover {
  opacity: 0.5;
}
.coreteam .team-members .card {
  margin-bottom: 20px;
}

/*-------testimonials----*/
.testimonials {
  margin: 100px 0px;
}
.testimonials .heading-text {
  margin-bottom: 0px;
}
.testimonial {
  /* height: 120vh; */
  background: #03a54c;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 0 15px 100px;
  position: relative;
  height: 600px;
}
.testimonial:before,
.testimonial:after {
  content: "";
  border-top: 40px solid #03a54c;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.testimonial:after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}
.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
  opacity: 0.6;
}
.testimonial .description {
  font-size: 16px;
  color: white;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
  letter-spacing: -1px;
}
.testimonial .testimonial-content {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -130px;
}
.testimonial .pic {
  display: inline-block;
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px gainsboro;
  overflow: hidden;
  z-index: 1;
  height: 130px;
  position: relative;
}
.testimonial .pic img {
  /* max-width: 100%; */
  height: 100%;
  transform: scale(1.2);
}
.testimonial .title {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.testimonials .testimonial .testimonial-content .post {
  display: block;
  font-size: 14px;
  color: black;
}
.owl-theme {
  height: 850px !important;
}

.owl-theme .owl-wrapper-outer {
  height: 800px !important;
}

.owl-theme .owl-controls {
  margin-top: 60px;
}
.owl-theme .owl-controls .owl-page span {
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #03a54c;
  margin: 5px;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #03a54c;
  border-color: #fff;
}
.pic img {
  width: 100px !important;
  height: 50px;
}

/*-------footer----*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(15, 16, 15, 0.906);
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: beige;
}
.footer p {
  color: beige;
  font-size: 14px;
}
.icons a {
  color: #03a54c;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 20px;
}

.icons a:hover {
  color: beige;
}

.icons {
  margin-bottom: 20px;
}

.footer p i {
  color: #03a54c;
}

/* responsive */
/* big screens when zoomed in */
@media only screen and (max-width: 992px) and (max-height: 700px) {
  .header .navbar-brand {
    /* transform: translateX(260px); */
    text-align: center;
  }

  .sticky {
    display: none;
  }

  .sticky .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .carousel h2 {
    padding-top: 110px;
  }

  .carousel {
    height: 60vh;
  }

  .form h2 {
    font-size: 20px;
  }
}

/* small screens */
@media only screen and (max-width: 992px) and (min-height: 700px) {
  .header .navbar-brand {
    /* transform: translateX(260px); */
    text-align: center;
  }

  .sticky .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .carousel h2 {
    padding-top: 110px;
  }

  .carousel {
    height: 40vh;
  }

  .form h2 {
    font-size: 20px;
  }
}

/* small screens horizental */
@media only screen and (min-width: 768px) {
  .numbers .col-sm-6 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
  .numbers .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 700px) {
  .numbers .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 770px) {
  .owl-theme {
    height: 1050px !important;
  }

  .owl-theme .owl-wrapper-outer {
    height: 1000px !important;
  }

  .testimonial {
    height: 800px;
  }
}
