* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* ----- Header & NavMenu ----- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.header .navbar-brand img {
  width: 100%;
}

.header button.navbar-toggler {
  z-index: 1000 !important;
  background-color: green;
}

.header button.navbar-toggler span {
  color: white !important;
}

.header .navMenu ul li {
  padding-left: 10px;
  padding-right: 10px;
}

.header .navMenu ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: beige;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.header .navMenu ul li:hover::after {
  width: 100%;
}

.header .navMenu ul li a {
  color: beige;
  text-decoration: none;
  font-size: 15px;
}

.header .title {
  text-align: center;
}

.header .title h2 {
  color: beige;
}

/* responsive */
.header .show {
  background-color: green;
  transition: 0.1s;
}

/* ----- main-carousel ----- */
.main-carousel {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/SeSC/green-building.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: beige;
}

.main-carousel h2 {
  padding-top: 170px;
}

/* sticky effect */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: green;
  height: 15vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

.sticky .navMenu ul li::after {
  background-color: beige;
}

.sticky .container {
  height: 100%;
}

.sticky .container .navbar {
  height: 100%;
}

/* ----- SeSC Quote ----- */
.intro-quote {
  padding-top: 100px;
}

.intro-quote .right {
  /* padding: 0 50px; */
}

.intro-quote .right img {
  width: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.intro-quote .left {
  text-align: center;
}

.intro-quote .left h2 {
  margin-bottom: 20px;
  font-style: italic;
  color: green;
  font-weight: 600;
}

.intro-quote .left p {
  line-height: 35px;
  text-align: left;
}

.intro-quote .left p span {
  color: green;
  font-weight: 600;
}

.intro-quote .left button {
  background-color: green !important;
  transition: 0.3s;
}

.intro-quote .left button:hover {
  background-color: white !important;
  color: green;
}

.intro-quote .left button a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.intro-quote .left button:hover a {
  color: green;
}

.intro-quote .swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
}

.intro-quote .swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.intro-quote .swing:before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -18px;
  left: 51%;
  z-index: 10;
  border-radius: 50% 50%;
  background-color: green;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

/* ----- Number ----- */
.numbers {
  margin: 100px 0px;
  background-image: url("/SeSC/[BCM]\ Background.png");
  text-align: center;
  padding: 60px 0px;
  background-attachment: fixed;
  background-position: right;
}

.numbers .number h3 {
  font-size: 70px;
  font-weight: 900;
  color: #ccff33;
}

.numbers .number p {
  font-size: 15px;
  font-weight: 600;
  color: #daf2da;
}

/* ----- Concept TNS ----- */
.main-concept .heading {
  text-align: center;
  margin-bottom: 50px;
}

.main-concept .heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: green;
}

.main-concept .heading h3 {
  font-size: 50px;
  font-weight: 800;
}

.main-concept .description {
  margin: 50px 0px;
}

.main-concept .description .highlightText {
  color: green;
  font-weight: 600;
  font-size: 25px;
}

.main-concept .body .right {
  padding: 50px 0px 0px 100px;
}

.main-concept .body .item {
  margin-bottom: 25px;
  position: relative;
  transition: all 0.3s;
  animation-duration: 2s;
}

.main-concept .body .item:hover {
  transform: scale(1.1);
}

.main-concept .body .item2 {
  margin-left: 40px;
}

.main-concept .body .item .order {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  /* z-index: 10; */
}

.main-concept .body .item .order span {
  color: beige;
  font-size: 20px;
  /* padding: 20px; */
  background-color: green;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 32px;
}

.main-concept .body .item .content {
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-concept .body .item .content h2 {
  font-weight: 600;
  font-size: 1.7rem;
  color: green;
}

.main-concept .body .left {
  position: relative;
  animation-duration: 2s;
  border-radius: 5px;
  overflow: hidden;
}

.main-concept .body .left img.main-img {
  width: 100%;
  border-radius: 20px;
  animation-duration: 2s;
  position: relative;
}

.main-concept button {
  margin-top: 50px;
  background-color: green !important;
  transition: 0.3s;
  border-radius: 50px;
  padding: 10px 30px;
}

.main-concept button a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.main-concept button:hover {
  background-color: white !important;
}

.main-concept button:hover a {
  color: green;
}

/* ----- Count Timer ----- */
.count-timer {
  margin: 100px 0px;
  padding: 100px 0px;
  background-color: #2c2c2d;
  text-align: center;
}

.count-timer .heading h2 {
  color: white;
  font-weight: 700;
  font-size: 45px;
}

.count-timer .heading p {
  color: #03a54c;
  font-size: 16px;
  font-weight: 600;
}

.count-timer .clock {
  margin-top: 50px;
}

.count-timer .clock .item .item-container {
  text-align: center;
  background-color: #fdfdfd1a;
  padding: 25px 0px 20px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff47;
  border-radius: 5px 5px px 5px 5px;
}

.count-timer .clock .item h3 {
  color: white;
  font-size: 45px;
  font-weight: 700;
}

.count-timer .clock .item p {
  font-size: 16px;
  font-weight: 600;
  color: #03a54c;
}

/* ----- Job Description ----- */
.jd-departments {
  margin: 100px 0px;
}
.jd-departments .heading {
  text-align: center;
  margin-bottom: 50px;
}

.jd-departments .heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: green;
}

.jd-departments .heading h3 {
  font-size: 50px;
  font-weight: 800;
}

.jd-departments .tab-dpt .nav-link {
  font-weight: 500;
}

.jd-departments .tab-dpt .nav-link.active {
  background-color: green;
  color: white !important;
  border: green;
}

.jd-departments .tab-dpt .tab-content {
  margin-top: 50px;
}

.jd-departments .tab-dpt .tab-content .tab-pane img {
  width: 50%;
  margin-bottom: 30px;
}

.jd-departments .tab-pane .text-content .item {
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 10px;
  border-radius: 10px;
  height: 500px;
}

.jd-departments .tab-pane .text-content .item h2 {
  font-weight: 600;
  color: #03a54c;
  font-size: 25px;
  margin-bottom: 20px;
}

.jd-departments .tab-pane .text-content .item .text i {
  color: #03a54c;
}

.jd-departments .tab-pane .text-content .item .text p {
  text-align: left;
}

.jd-departments .tab-dpt button.apply {
  margin-top: 50px;
  background-color: #03a54c !important;
  transition: 0.3s;
  border-radius: 50px;
  padding: 10px 30px;
}

.jd-departments .tab-dpt button.apply a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.jd-departments .tab-dpt button.apply:hover {
  background-color: white !important;
}

.jd-departments .tab-dpt button.apply:hover a {
  color: #03a54c;
}

.jd-departments .carousel-containers {
  width: fit-content;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 3px #03a54c ridge;
  display: none;
}

.jd-departments .carousel {
  /* height: 500px;
  width: 700px; */
  height: 70vh;
  width: 70vw;
}

.jd-departments .carousel-control-next,
.carousel-control-prev {
  color: #03a54c !important;
  font-size: 40px;
  font-weight: 600;
}

.jd-departments .carousel-indicators button {
  background-color: #03a54c !important;
}

.jd-departments .carousel-item {
  height: 70vh;
}

.jd-departments .carousel-item-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.jd-departments .carousel .text {
  text-align: left !important;
}

.jd-departments .carousel .text p {
  font-size: calc(8px + 0.6vw);
}

.jd-departments .carousel-item-content h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/*-------footer----*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(15, 16, 15, 0.906);
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: beige;
}
.footer p {
  color: beige;
  font-size: 14px;
}
.icons a {
  color: #03a54c;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 20px;
}

.icons a:hover {
  color: beige;
}

.icons {
  margin-bottom: 20px;
}

.footer p i {
  color: #03a54c;
}

/* responsive */
/* big screens when zoomed in */
@media only screen and (max-width: 992px) and (max-height: 700px) {
  .header .navbar-brand {
    /* transform: translateX(260px); */
    text-align: center;
  }

  .sticky {
    display: none;
  }

  .sticky .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-carousel h2 {
    padding-top: 110px;
  }

  .main-carousel {
    height: 60vh;
  }

  .form h2 {
    font-size: 20px;
  }

  .jd-departments .tab-pane .text-content {
    display: none;
  }

  .jd-departments .tab-pane .carousel-containers {
    display: block;
  }

  .jd-departments .carousel {
    height: 550px;
  }

  .jd-departments .carousel-item {
    height: 550px;
  }

  .jd-departments .carousel .text p {
    font-size: calc(8px + 0.9vw);
  }
}

/* small screens */
@media only screen and (max-width: 992px) and (min-height: 700px) {
  .header .navbar-brand {
    /* transform: translateX(260px); */
    text-align: center;
  }

  .sticky .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-carousel h2 {
    padding-top: 110px;
  }

  .main-carousel {
    height: 40vh;
  }

  .form h2 {
    font-size: 20px;
  }

  .jd-departments .tab-pane .text-content {
    display: none;
  }

  .jd-departments .tab-pane .carousel-containers {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .main-concept .body .right,
  .left {
    width: 100%;
  }
}
