* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* ----- Header & NavMenu ----- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.header .navbar-brand img {
  width: 70%;
}

.header button.navbar-toggler {
  z-index: 1000 !important;
  background-color: green;
}

.header button.navbar-toggler span {
  color: white !important;
}

.header .navMenu ul li {
  padding-left: 10px;
  padding-right: 10px;
}

.header .navMenu ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #03a54c;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.header .navMenu ul li:hover::after {
  width: 100%;
}

.header .navMenu ul li a {
  color: beige;
  text-decoration: none;
  font-size: 15px;
}

/* responsive */
.header .show {
  background-color: green;
  transition: 0.1s;
}

/* ----- Carousel ----- */
.carousel {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/SeSC/green-building.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: beige;
}

.carousel h2 {
  padding-top: 170px;
}

@media (max-width: 992px) {
  .header .navbar-brand {
    transform: translateX(260px);
    text-align: center;
  }
  .carousel h2 {
    padding-top: 110px;
  }

  .carousel {
    height: 40vh;
  }
}

/* sticky effect */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: green;
  height: 15vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

.sticky .navMenu ul li::after {
  background-color: beige;
}

.sticky .container {
  height: 100%;
}

.sticky .container .navbar {
  height: 100%;
}

/*-------FORM----*/
.form {
  padding: 100px 0px;
}

.form h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.form .cauHoiChung {
  margin: 50px 0px;
}

.form .cauHoiPhanBan .noti-error {
  color: red;
  display: none;
}

.form .cauHoiPhanBan .tab-dpt {
  margin-top: 50px;
  display: none;
}

.form .cauHoiPhanBan .tab-dpt .nav-link {
  font-weight: 500;
}

.form .cauHoiPhanBan .tab-dpt .nav-link.active {
  background-color: green;
  color: white !important;
  border: green;
  font-weight: 500 !important;
}

.form .cauHoiPhanBan .tab-dpt .tab-content {
  margin-top: 50px;
}

.form .cauHoiPhanBan .tab-dpt .nav-link.disabled {
  background-color: gray !important;
  color: gainsboro !important;
}

.noti-error {
  display: none;
  color: red;
}

.form .cauHoiPhanBan .tab-dpt button.submit {
  margin-top: 50px;
  background-color: #03a54c !important;
  color: white !important;
  transition: 0.3s;
  border-radius: 50px;
  padding: 10px 30px;
}

.form .cauHoiPhanBan .tab-dpt button.submit:hover {
  background-color: white !important;
  color: #03a54c !important;
}

/*-------footer----*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(15, 16, 15, 0.906);
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: beige;
}
.footer p {
  color: beige;
  font-size: 14px;
}
.icons a {
  color: #03a54c;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 20px;
}

.icons a:hover {
  color: beige;
}

.icons {
  margin-bottom: 20px;
}

.footer p i {
  color: #03a54c;
}

/* Overlay Modal */
.overlayModal {
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
  top: 0;
  left: 0;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 101;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
